.add-relatives {
  &__form {
    padding: 0 32px;
  }

  @media screen and (min-width: 768px) {
    &__body {
      margin: 0 auto;
      max-width: 480px;
    }

    &__form {
      padding: 0;
    }
  }
}
