@import 'styles/color-palette';

.container-form-home {
  &__title {
    font-weight: 300;
    color: #494F66;
    font-size: 24px;
    margin-bottom: 12px;

    span {
      font-size: 24px;
      color: $primary-color;
    }
  }

  p {
    font-weight: 300;
    color: #676F8F;
    font-size: 16px;
  }

  &__form {
    margin-top: 24px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 992px) {
    &__title {
      font-size: 28px;
    }
  }
}
